
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8faff;
}


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: #4f46e5;
}

.signup-btn {
  background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  
}

.signup-btn:hover {
  background-color: #caaf38;
}


.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;
  text-align: center;
  position: relative;
}

.banner h1 {
  font-size: 36px;
  color: #111827;
  margin-bottom: 20px;
}

.banner button {
  background-color: #4f46e5;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.banner button:hover {
  background-color: #caaf38;
}


.action-section {
  display: flex;
  justify-content: space-around;
  align-items:center;
  padding: 80px 60px;
  gap: 60px;
  background-color: #f8faff;
}

.text-content {
  max-width: 50%;
}

.text-content h2 {
  font-size: 28px;
  color: #111827;
  margin-bottom: 16px;
}

.text-content p {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 24px;
}

.preview-btn {
  display: inline-block;
  background-color: #4f46e5;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: bold;
  
}

.preview-btn:hover {
  background-color: #caaf38;
}

.image-content img {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.stats-section {
  background-color: #e9e9ff;
  padding: 60px 40px;
  text-align: center;
  border-radius: 20px;
  margin: 60px auto;
  max-width: 900px;
}

.stats-section h2 {
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 40px;
}

.stats-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}

.stat {
  text-align: center;
}

.stat-number {
  font-size: 32px;
  font-weight: bold;
  color: #4f46e5;
  display: block;
  margin-bottom: 10px;
}

.stat-label {
  font-size: 14px;
  color: #6b7280;
}


.testimonial-section {
  background-color: #f8faff;
  text-align: center;
  padding: 60px 40px;
}

.testimonial-section h2 {
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 40px;
}

.testimonials {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.testimonial-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  text-align: left;
}

.testimonial-card .stars {
  width: 90px;
  margin-bottom: 10px;
  color: #f5b301;
  font-size: 16px;
}

.testimonial-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.testimonial-card p {
  font-size: 14px;
  color: #444;
  margin-bottom: 15px;
}

.review-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-footer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.review-footer .name {
  font-size: 14px;
  font-weight: bold;
}

.review-footer .date {
  font-size: 12px;
  color: #888;
}

.focus-section {
  background-color: #f8faff;
  padding: 80px 20px;
  text-align: center;
}

.focus-content {
  max-width: 800px;
  margin: auto;
  background-color: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.focus-content h2 {
  font-size: 32px;
  font-weight: bold;
  color: #111827;
  margin-bottom: 10px;
}

.focus-content p {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 24px;
}

.focus-btn {
  display: inline-block;
  background-color: #4f46e5;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
  margin-bottom: 30px;
}

.focus-btn:hover {
  background-color: #caaf38;
}

.focus-image img {
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.contact-section {
  background-color: #f8faff;
  padding: 80px 60px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  margin: auto;
  gap: 40px;
  
}

.contact-left {
  flex: 1;
  min-width: 250px;
}

.contact-left h2 {
  font-size: 48px;
  color: #111827;
  font-weight: 800;
  line-height: 1.2;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form label {
  font-size: 14px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form button {
  background-color: #4f46e5;
  color: white;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #caaf38;
}


.footer {
  text-align: center;
  background-color: #f8faff;
  padding: 60px 20px;
}

.footer-logo {
  font-size: 48px;
  font-weight: bold;
  color: #4f46e5;
  margin-bottom: 20px;
}

.footer-description {
  font-size: 14px;
  color: #6b7280;
  max-width: 600px;
  margin: 0 auto 30px auto;
  line-height: 1.6;
}

.footer-nav {
  display: flex;
  justify-content:center;
  gap: 30px;
  flex-wrap: wrap;
}

.footer-nav a {
  text-decoration: none;
  color: #6b7280;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #ecc30a;
}
